<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Weather Finder</h1>
        <hr>
        
        {% block content %}
        {% endblock %}

        <footer>
            <p>&copy; 2025 Weather App</p>
        </footer>
    </div>
</body>
</html>

